.tooltip > .tooltip-inner {
    opacity: 0.75;
}


/*****************  T A B S  ************************/

.tabs {
    width: 90%;
    min-width: 800px;
    float: none;
    list-style: none;
    padding-top: 12px;
    margin: auto;
    border-bottom: 4px solid #ccc;
    font-family: Raleway;
    min-height: 600px;
}
 
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
 
.tabs input[type=radio] {
    display:none;
}
 
.tabs label {
    display: inline;
    float: left;
    width: 33.3333%;
 
    color: #ccc;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
 
    cursor: pointer;
    box-shadow: inset 0 4px #ccc;
    border-bottom: 4px solid #ccc;
 
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
  
.tabs label span {
    display: inline;
}
 
.tabs label i {
    /*padding: 5px;
    margin-right: 0;*/
}
 
.tabs label:hover {
    color: #3498db;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
}
 
.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
  
    background-color:#ffffff;
}

.tab-content * {
 
    -webkit-animation: scale 0.7s ease-in-out;
    -moz-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
}



.tabs [id^="tab"]:checked + label {
    background: #FFF;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
    color: #3498db;
}
 
#tab1:checked ~ #tab-content1,
#tab3:checked ~ #tab-content3, 
#tab4:checked ~ #tab-content4
{
    display: block;
}

@media (min-width: 768px) {   
    .tabs i {
        /*padding: 5px;
        margin-right: 10px;*/
    }
 
    .tabs label span {
        display: inline;
    }
 
    .tabs {
       max-width: 100%;
       margin: 5% auto;
    }
}

/*****************  T O O L B A R ************************/

.toolbar {
    float: left;
    list-style: none;
    padding: 0;
    margin: auto;
    margin-top: 0px !important;
    border: 4px solid #ccc;
    text-align: left;
}

.legend-table td {
    font-size: 13px;
    padding:3px;
}

/*****************  V A R L I S T ************************/

.varlist {
    width: 17%;
    height:75%;
    float: right;
    list-style: none;
    padding: 0;
    margin: 0px;
    border: 4px solid #ccc;
    text-align: left;
}

/*****************  G R A P H   L A B E L S ************************/



/*****************  O V E R V I E W  ************************/

.overview {
    /* width: 70%; */
    height: 70%;
    float: none;
    list-style: none;
    padding: 0;
    /* margin-left:13%; */
    margin-top: 0px !important;
    /* border: 4px solid #aaa; */
    text-align: center;
}

.info_button {
    width:16px;
    opacity:0.4;
    /*margin-right: 5px;*/
}

.btn-click {
    padding: 2px 4px 2px 4px !important;
    font-size:13px !important;
}

.fa-info-circle {
    opacity:0.5 !important;
}

.overview_background {
    background-color:#f2f2f2;
    margin:1px; 
    height:80%; 
    background-image: url('http://i62.tinypic.com/5ra1h.png');
    background-repeat: no-repeat;
    background-position: 98% 45%; /* xpos ypos */
    background-size: 75% 65%; /* width height */
}

/*****************  C A T E G O R I E S  ************************/

.categories {
    width: 60%;
    height: 75%;
    float: none;
    list-style: none;
    padding: 0;
    /* border: 4px solid #aaa; */
    text-align: center;
}

.cat_labels td {
    vertical-align: top;
    width:25% !important;
    text-align: center;
}


/*****************  G L O S S A R Y  ************************/

.glossary {
    width: 95%;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
    border-bottom: 4px solid #ccc;
}

.glossary:after {
    content: '';
    display: table;
    clear: both;
}
 
.glossary input[type=radio] {
    display:none;
}
 
.glossary label {
    display: inline;
    float: left;
    width: 3.846%;
 
    color: #ccc;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
 
    cursor: pointer;
    box-shadow: inset 0 4px #ccc;
    border-bottom: 4px solid #ccc;
 
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
  
.glossary label span {
    display: inline;
}
 
.glossary label i {
    padding: 5px;
    margin-right: 0;
}
 
.glossary label:hover {
    color: #3498db;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
}
 
.glossary-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
  
    background-color:#ffffff;
}

.glossary-content * {
 
    -webkit-animation: scale 0.7s ease-in-out;
    -moz-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
}



.glossary [id^="glossary"]:checked + label {
    background: #FFF;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
    color: #3498db;
}

#glossaryA:checked ~ #glossary-contentA,
#glossaryB:checked ~ #glossary-contentB,
#glossaryC:checked ~ #glossary-contentC,
#glossaryD:checked ~ #glossary-contentD,
#glossaryE:checked ~ #glossary-contentE,
#glossaryF:checked ~ #glossary-contentF,
#glossaryG:checked ~ #glossary-contentG,
#glossaryH:checked ~ #glossary-contentH,
#glossaryI:checked ~ #glossary-contentI,
#glossaryJ:checked ~ #glossary-contentJ,
#glossaryK:checked ~ #glossary-contentK,
#glossaryL:checked ~ #glossary-contentL,
#glossaryM:checked ~ #glossary-contentM,
#glossaryN:checked ~ #glossary-contentN,
#glossaryO:checked ~ #glossary-contentO,
#glossaryP:checked ~ #glossary-contentP,
#glossaryQ:checked ~ #glossary-contentQ,
#glossaryR:checked ~ #glossary-contentR,
#glossaryS:checked ~ #glossary-contentS,
#glossaryT:checked ~ #glossary-contentT,
#glossaryU:checked ~ #glossary-contentU,
#glossaryV:checked ~ #glossary-contentV,
#glossaryW:checked ~ #glossary-contentW,
#glossaryX:checked ~ #glossary-contentX,
#glossaryY:checked ~ #glossary-contentY,
#glossaryZ:checked ~ #glossary-contentZ
{
    display: block;
}

@media (min-width: 768px) {   
    .glossary i {
        padding: 5px;
        margin-right: 10px;
    }
 
    .glossary label span {
        display: inline;
    }
 
    .glossary {
       max-width: 100%;
       margin: 5% auto;
    }
}