 /*Filename: assign8.css
 Purpose: the css stylesheet
 Created: November 13, 2015
 Authors: Christina Pollalis and Isabelle Styslinger*/


/*all the below make the slideshow appear the way we want at the beginning
(this will dynamically change in the js file). this is all adapted from the
lab exercises.*/
#slides4 {
      width: 200px;
      height: 192px;
      overflow: hidden;
}

#slides4 ul {
      width: 1024px;
      list-style: none;
      position: relative;
      margin: 0px;
      padding: 0px;
}

#slides4 li {
      float: left;
}

/*the below creates a border for the images so that they can then have the blue
ones later on to show the choice*/
#rock, #paper, #scissors {
      border: 1px solid white;
}
