/*
Filename: assign6.css
Purpose: CSS style for "What's cooking?" assignment.
Created: March 20, 2014
Author: Eni Mustafaraj

Modified by: YOUR NAME
Modification Date: YOUR DATE
*/


/* body has fixed width, but is not centered */
body {
  width: 860px;
  text-align: center;
  font-family: "Autour One", serif;
  color: #655575;
}

/* Style for the header section, specifying background images.
The property height is required, otherwise images will not show.
*/

/* Image source: */
header {
  background: url("images/cook.gif") no-repeat left,
              url("images/cook.gif") no-repeat right;
  background-size: 100px;
  min-height: 100px;
  padding-top: 10px;
}

/* Style for the section that displays the image and meal name */
#message {
  width: 420px;
  border: 1px green solid;
  padding: 5px;
  margin-right: 440px;
}

/* Style for the container that displays the tests of datetimes.*/	
aside {
  float: right;
  width: 400px;
  border: 1px red solid;
  padding: 10px;
}

/* We don't want the items of the list to be aligned in center.*/
aside ol {
  text-align: left;
}
