<!DOCTYPE html>
<html>
<head>
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="css/kendo.common-material.min.css" />
    <link rel="stylesheet" href="css/kendo.material.min.css" />
    <link rel="stylesheet" href="css/kendo.material.mobile.min.css" />

    <script src="js/jszip.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/kendo.all.min.js"></script>

</head>
<body>

<div class="main">
    <div id="content">
    </div>
 </div>
	<div class="grid">
        <div id="example">
            <div id="grid"></div>
            <script>

                function exportExcel() {
			return '<a class="k-button" href="#" id="selectallelements" onclick="exportToExcel()">Export to Excel</a>';
                        
                }

                function exportToExcel() {
			var grid1 = $("#grid").data("kendoGrid");
			oldPageSize = grid1.dataSource.pageSize();
			grid1.dataSource.pageSize(grid1.dataSource.data().length);
                    	grid1.saveAsExcel()
                };

                $(document).ready(function () {
                    $("#grid").kendoGrid({

                        toolbar: [{
                            name: 'exportExcel1',
                            template: '#= exportExcel()#'
                        },
                        {
                            name:'lookupsnp',
                            template:'#= snplookup()#'
                        },
                        {
                            name:'lookupsnp2',
                            template:'#= snplookup2()#'
                        },
                        ],
                        excel: {
                            fileName: "SNP Report.xlsx",
                            proxyURL: "/excel",
                            filterable: true
                        },

                        dataSource: {
                            dataType: "json",
                            transport: {
                                read: "/api/rsids"
                            },
                            sort: {
                                field: "Variations",
                                dir: "desc"
                            },
                            schema: {
                                data: function(response) {
                                    return response.results;
                                }
                            },
                            pageSize: 250
                        },
                        columns: [
                       { field: "Name", width: '190px', title: "Name" },
                       { field: "Description", width: '200px', title: "Description" },
                       { field: "ClinVar", width: '300px', title: "Clinical Significance", encoded: false },
                      
                       { field: "Frequency", width: '140px', title: "Frequency" },
                       { field: "Risk", width: '100px', title: "Risk" },
                       { 
                           field: "Genotype", 
                           width: '100px', 
                           title: "Genotype",
                           template: "#if(Genotype.indexOf(Risk.charAt(2)) == -1) { # <div style='background-color:lightgreen'>#: Genotype     #</div> #} else if (Genotype.indexOf(Risk.charAt(0)) != -1){ # <div style='background-color:orange'>#: Genotype     #</div> #} #"
                           //template: "#if(Genotype.indexOf(Risk.charAt(3)) != -1){#<span class='red'>#: Genotype     #</span>#}else{#<span class='blue'>#: Genotype #</span> #} #"
                       
                       },

                       { field: "Studies", width: '190px', title: "Studies" },
                       { field: "Variations", width: '490px', title: "SNPedia Notes", encoded: false },
                       { field: "Bookmark", width: "120px", editor: customBoolEditor },
                       {"command":[{"text": "Delete", "click": this.removeItem}]},
                       { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
                         
                         
                         
                         ],
                        height: 950,
                        filterable: true,
                        sortable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: [100, 250, 500, 1000],
                            buttonCount: 5
                        },
                        selectable: "row",
                        allowCopy: true,
                        reorderable: true
                    });
                });

                this.removeItem = function(e) {
                    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                    if (dataItem && dataItem.id) {
                        self.items.remove(function(item) {
                        return item.id === dataItem.id; 
                        });
                    }
                };

                 function customBoolEditor(container, options) {
                    var guid = kendo.guid();
                    $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Bookmark" data-type="boolean" data-bind="checked:Bookmark">').appendTo(container);
                    $('<label class="k-checkbox-label" for="' + guid + '">&#8203;</label>').appendTo(container);
                }

                function snplookup(e){
                            return '<a class="k-button" href="#" id="lookupsnp" onclick="snpedia()">SNPedia</a>';
                        };
                        function snpedia(){
                            var entityGrid = $("#grid").data("kendoGrid");
                            var rows = entityGrid.select();
                            var rsid = rows[0].cells[0].innerText

                            var html = "https://bots.snpedia.com/index.php/"
                            var link = html.concat(rsid)
                            window.open(link);
                        };
                function snplookup2(e){
                    return '<a class="k-button" href="#" id="lookupsnp2" onclick="dbsnp()">dbSNP</a>';
                    
                        };
                        function dbsnp(){
                            var entityGrid = $("#grid").data("kendoGrid");
                            var rows = entityGrid.select();
                            var rsid = rows[0].cells[0].innerText

                            var html = "https://www.ncbi.nlm.nih.gov/snp/"
                            var link = html.concat(rsid)
                            window.open(link);
                        };
            </script>
</div>
</div>


</body>
</html>

