/*Filename: style.css
Author:  Christina Pollalis and Isabelle
Purpose: Style Sheet for P2_design (the document that outlines all of our
design choices for our final project)*/


body { /*makes the body as the one in the screenshot*/
    width:1200px;
    margin:0 auto;
    background-color: white;
    color:black; /*#445973*/
    font-family: Lucida Sans Unicode; /*given to us in the assignment*/
    font-size: 16px;
}

section {
    border: 2px dashed black;
    margin:20px;
    padding:10px;
}

header img { /*want these to just apply to the first image*/
    float:left;
    margin-top:auto;
}

header{ /*want these to just apply to the paragraph in the header*/
    margin-left:20px;
}

h1, a, figcaption { /*color for headers, links, and image captions*/
    color:#ae806e;
}

h1 { /*these apply to the first header*/
    font-size: 46px;
    margin-top:0px;
    padding-top:40px;
    margin-left:460px;
}

h2 { /*these apply to the second header*/
    font-size: 26px;
}

a:hover { /*changes the color of the links when they are hovered on*/
    color:silver;
}


footer { /*these apply to the footer (making it center, border, and margin)*/
    text-align:center;
    border-top:1px solid black;
    margin:10px auto;
}
