/*Filename: assign9.css
Purpose: CSS styling for the Wendy Wellesley Shopping page
Created: November 19, 2015
Authors: Christina Pollalis and Isabelle Styslinger
*/


/*puts padding around the images*/
img {
    padding:15px;
}

/*
all the below put margins around each element so that they are all centered
in relation to each other*/
#gloves_quant, #scarf_quant, #hat_quant{
    margin-left:65px;
    margin-right:65px;
}

#glove_button {
    margin-left:90px;
    margin-right:92px;
}

#scarf_button {
    margin-left:82px;
    margin-right:92px;
}

#hat_button {
    margin-left:82px;
    margin-right:92px;
}

/*so that the two divs defined in the html are placed next to each other*/
#gallery {
    float:left;
}
